<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-sm-4 text-center">
        <%= image_tag @team.team_logo.url(:medium), class: 'img-rounded img-responsive img-centered' %>
        <div class="col-lg-12">
          <button class='btn btn-success comm-button show-new-email'><i class="glyphicon glyphicon-plus"></i> Email All Players</button>
          <button class='btn btn-success comm-button text-all-players'><i class="glyphicon glyphicon-plus"></i>Text Your Team</button>
        </div>
      </div>

      <div class="col-xs-12 col-sm-8">
        <ul class="list-group">
          <li class="list-group-item"><strong>Team Name:</strong> <%= @team.name %></li>
          <li class="list-group-item"><strong>Team Captain:</strong> <%= @team.captain.first_name %> <%= @team.captain.last_name %></li>
          <li class="list-group-item"><strong>Roster Size:</strong> <%= @team.memberships.count %> players</li>
          <li class="list-group-item"><strong>Home Location:</strong> <%= @team.home_location.name %></li>
          <li class="list-group-item"><strong>Total Team Dues:</strong> $<%= @team.dues.round(0) %></li>
          <li class="list-group-item"><strong>Paid Player Dues:</strong> $<%= @team.paid_dues_mem.round(0)  %></li>
          <li class="list-group-item"><strong>Outstanding Player Charged Dues:</strong> $<%= (@team.dues - @team.paid_dues_mem).round(0) %></li>
          <li class="list-group-item">
              <%= button_to 'Distribute Dues Evenly', team_distribute_dues_path(@team), method: 'put', class: 'btn btn-sm btn-success inline' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<div>
<br />
  <div class='communicate-with-team col-xs-12'>
    <!-- Email all team members -->
    <div class='col-xs-12 email-players hidden'>
      <%= form_for :email_all, url: team_email_all_index_path(@team), role: 'form' do |f| %>

        <div class="form-group content-field">
          <%= f.text_area 'message',  class: 'form-control', placeholder: 'Message' %>
        </div>
        <div class="action">
          <%= f.submit 'Email Team', class: 'btn btn-success comm-button', id: 'email-submit-button' %>
        </div>

      <% end %>
    </div>

    <!-- Text all team members -->
    <div class='col-xs-12 text-players hidden'>
      <%= form_for :team_text, remote: true, url: team_text_path, role: 'form' do |f| %>

        <div class="form-group email-field">
          <%= f.text_area 'team-msg',  class: 'form-control', placeholder: 'Text' %>
        </div>
        <div class="action">
          <%= f.submit 'Send', team: @team.id, class: 'btn btn-success text-button comm-button' %>
        </div>
      <% end %>
    </div>

  </div>
<br />
<div class='table'>

  <table class="table table-striped table-hover btn-group-sm">
    <thead>
        <tr>
            <th><%= link_to "Back to Team Page", :back %></th>
            <th>Player Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Amount Owed</th>
            <th>Mark Paid</th>
        </tr>
    </thead>
    <tbody>
      <% @memberships.each do |membership| %>
        <tr>
            <td><%= button_to 'Remove Player', team_membership_path(@team, membership), method: 'delete', class: 'btn btn-danger btn-sm' %></td>
            <td><%= membership.player.first_name %> <%= membership.player.last_name %></td>
            <td><%= membership.player.email %></td>
            <td><%= membership.player.phone_number %></td>
            <td>
              <div class='col-xs-6'>
                <span class='amount-owed'>$<%= membership.amount_owed.round(0)%></span>
              </div>
              <div class='col-xs-6'>
                <button class='btn btn-sm btn-success edit-amount-owed-button pull-center'>Edit</button>
                <span class='edit-amount-owed hidden'>
                  <%= form_for :membership, url: team_membership_path(@team,membership), method: 'put' do |f| %>
                      <%= f.text_field :amount_owed, autofocus: true , class: 'form-control input-sm'%>
                      <%= f.submit 'New Amount', class: 'btn btn-sm btn-success inline' %>
                  <% end %>
                </span>
              </div>
            </td>
            <td>
              <% if membership.paid %>
                <%= button_to 'Mark Unpaid', team_membership_mark_unpaid_path(@team, membership), method: 'put', class: 'btn btn-sm btn-danger' %>
              <% else %>
                <%= button_to 'Mark Paid', team_membership_mark_paid_path(@team, membership), method: 'put', class: 'btn btn-sm btn-success' %>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
