<div>
  <%= render partial: 'shared/team_nav', locals: {team: @team}%>
</div>

<h1>
  <%= @team.name %>
</h1>

<div class='col-xs-5'>
  <div>
    <%= image_tag @team.team_logo.url(:medium) %>
  </div>
</div>

<div class='col-xs-7'>
  <% @future_games.each do |game| %>
    <%= render partial: 'games/show', locals: {game: game, team: @team}%>
  <% end %>

  <div>
    <%= link_to new_team_game_path(@team), class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-plus"></i> New Game
    <% end %>
  </div>

</div>



<!-- Abstract this out -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
  $('.game-view').on('click', function(e) {
    $(this).find(">:last-child").removeClass('hidden')
  });

  $('.change-rsvp-show').on('click', function(e) {
    e.preventDefault();
    $('.change-rsvp-button').addClass('hidden')
    $(this).find(">:last-child").removeClass('hidden')
  })

  // Not working yet
  $('.change-rsvp').on('click', function(e) {
    e.preventDefault();
    console.log($(this).attr('data'))
    var data = $(this).attr('data')
    var route = $(this).parent().attr('action')
    $.ajax({
      url: route,
      method: "patch",
      data: {attendance: data}
      // success: function(response) {
      //   console.log(response)
      // },
      // fail: function(response) {
      //   console.log('nope')
      // }
    })

  });


</script>


