<h1>
  <%= @team.name %>
</h1>
<div>
  <%= image_tag @team.team_logo.url(:medium) %>
</div>

<div>
  <% @team.games.each do |game| %>
    <p><%= game.game_time.strftime("%m/%d/%y at %l:%M %p") %> @ <%= link_to game.location.name, location_path(game.location) %></p>
  <% end %>
</div>

<div>
  <% @team.players.each do |player| %>
    <p><%= player.first_name %> <%= player.last_name %></p>
  <% end %>

  <%= link_to 'invite new players - not working - invite players path' %>
</div>
