<div>
  <%= render partial: 'shared/team_nav', locals: {team: @team}%>
</div>

<h1>
  <%= @team.name %>
</h1>

<div class='col-xs-5'>
  <div>
    <%= image_tag @team.team_logo.url(:medium) %>
  </div>
</div>

<div class='col-xs-7'>
  <% @future_games.each do |game| %>
    <%= render partial: 'games/show', locals: {game: game, team: @team}%>
  <% end %>

  <div>
    <%= link_to new_team_game_path(@team), class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-plus"></i> New Game
    <% end %>
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  $('.game-view').on('click', '.game-time', function(e) {
    $('.game-view').find(">:last-child").toggleClass('hidden')
  });

  $('.change-rsvp').on('click', function(e) {
    e.preventDefault();
    var route = $(this).attr('href')
    $.ajax({
      url: route,
      method: "PUT",
      data: 'boom',
      success: function(response) {
        console.log('yay')
      },
      fail: function(response) {
        console.log('nope')
      }
    })
  });
</script>

