<div>
  <%= render partial: 'shared/team_nav', locals: {team: @team}%>
</div>

<h1>
  <%= @team.name %>
</h1>

<div class='col-xs-5'>
  <div>
    <%= image_tag @team.team_logo.url(:medium) %>
  </div>
</div>

<div class='col-xs-7'>
  <% @future_games.each do |game| %>
    <%= render partial: 'games/show', locals: {game: game, team: @team}%>
  <% end %>

  <div>
    <%= link_to new_team_game_path(@team), class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-plus"></i> New Game
    <% end %>
  </div>

</div>



<!-- Abstract this out -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
  $(document).ready( function() {
    $(document).on('click', '.game-view', function(e) {
      $(this).find(">:last-child").removeClass('hidden')
    });

    $(document).on('click', '.change-rsvp-show', function(e) {
      e.preventDefault();
      $(this).find(">:first-child").addClass('hidden')
      $(this).find(">:last-child").removeClass('hidden')
    })

    $(document).on('click', '.change-rsvp', function(e) {
      e.preventDefault();
      var partial = $(this)
      var data = $(this).attr('data')
      var route = $(this).parent().attr('action')
      // var response =
      var response = $.ajax({
        url: route,
        method: "patch",
        data: {attendance: data},
        "success": function(response) {
          // console.log(response)
        },
        "error": function(response) {
          partial.closest('.game-view').replaceWith(response.responseText)
          // Change RSVP button appears again but doesn't work.
        }
      })
      // $(this).find(">:last-child").addClass('hidden')
    });

  });
</script>


