<h2>Add a new game</h2>

<%= form_for :game, url: team_games_path(params[:team_id]), role: 'form'  do |f| %>
  <div class="form-group">
    <%= f.label :game_time %><br />
    <%= f.datetime_select :game_time, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location %><br />
    <%= f.select :location, location_names(params[:team_id]), class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Create Game", class: 'btn-success' %>
  </div>
<% end %>
