<div class='col-xs-12 player'>
  <p>
    <%= player.first_name %> <%= player.last_name %> -
    <%= player.rsvps.find_by(game: game).attending %>
    <% if is_captain?(game.team) %>
      <%= button_to "Text #{player.first_name}", to: player.first_name, from: current_user.first_name, phone: current_user.phone_number, class: 'captain-msg btn' %>
    <% end %>
    <% if is_current_user?(player) %>
      <div class='change-rsvp-show'>
        <button class='btn change-rsvp-button'>Change My RSVP</button>
        <div class='col-xs-6 hidden change-rsvp-status'>
          <span class="col-xs-6"><%= button_to "I'm attending!", team_game_rsvp_path(game.team, game, player.rsvps.find_by(game: game)), method: 'put', data: 'attending', class: 'change-rsvp btn' %></span>
          <span class="col-xs-6"><%= button_to "I can't attend", team_game_rsvp_path(game.team, game, player.rsvps.find_by(game: game)), method: 'put', data: 'not attending', class: 'change-rsvp btn' %></span>
        </div>
      </div>
    <% end %>
  </p>
</div>
