<div class='col-xs-12 player'>
  <p>
    <%= player.first_name %> <%= player.last_name %> -
    <%= player.rsvps.find_by(game: game).attending %>
    <% if is_captain?(game.team) %>
      <%= button_to "Text #{player.first_name}", send_sms_path, method: 'post', :remote => true, :authenticity_token => true, id: "#{player.id}",  class: 'captain-msg btn' %>
      <div class = "text-message-box">
        <% if is_captain?(@team) %>
          <div class = "show-text-box">
            <%= form_for :text, url: send_sms_path, :remote => true, role: 'form' do |f| %>
                <div class="captain-2-player-message">
                  <%= f.text_area 'Text Box',  class: "#{player.id} hidden", placeholder: 'Hey...' %>
                  <%= f.submit 'Send Text', class: "text-msg-box #{player.id} hidden", to: player.first_name, from: current_user.first_name, phone: player.phone_number, id: 'text-player-button' %>
                </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if is_current_user?(player) %>
      <div class='change-rsvp-show'>
        <button class='btn change-rsvp-button'>Change My RSVP</button>
        <div class='col-xs-6 hidden change-rsvp-status'>
          <span class="col-xs-6"><%= button_to "I'm attending!", team_game_rsvp_path(game.team, game, player.rsvps.find_by(game: game)), method: 'put', data: 'attending', class: 'change-rsvp btn' %></span>
          <span class="col-xs-6"><%= button_to "I can't attend", team_game_rsvp_path(game.team, game, player.rsvps.find_by(game: game)), method: 'put', data: 'not attending', class: 'change-rsvp btn' %></span>
        </div>
      </div>
    <% end %>
  </p>
</div>
