- if @user.can_accept_charges?
  .panel.panel-primary
    .panel-body
      = form_tag pay_user_payment_path( current_user, @user ) do
        .indicator
        = hidden_field_tag :token
        %button.pull-right.btn.btn-primary.btn-lg.pay-button Pay $10

        %h3 Make a one-off charge
        %p
          Pay a one-time charge of $10 #{@user.currency.upcase}.
        %p
          %small Responsible for fees, refunds and chargebacks?
          %select{ name: 'charge_on' }
            %option{ value: 'connected' } Connected Account
            %option{ value: 'platform' } Platform Account

- else
  .panel.panel-danger
    .panel-body
      %h3 Nope

= javascript_include_tag 'https://checkout.stripe.com/checkout.js'
:javascript
  // You can select to pay either directly or via the platform, so
  // we need both publishable keys here.
  window.publishable = {
    platform: #{Rails.application.secrets.stripe_publishable_key.to_json},
    connected: #{@user.publishable_key.to_json}
  };
  window.currentUserEmail = #{current_user.email.to_json};
  window.payPath = #{pay_user_payment_path( current_user, @user ) .to_json};
