<!DOCTYPE html>
<html>
<head>
  <title>TeamGenie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Get this to render as a partial.  Currently in layouts/_navigation -->
  <%= render partial: 'shared/navigation' %>

<div class='container'>
<%= yield %>

</div>
</body>
</html>
